.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #415A77;
    color: #010400;
    justify-content: normal;
}

.header {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin-left: 22%;
}

@media only screen and (max-width: 1001px) {
    .header {
        font-size: 1.5em;
        margin-left: 15%;
    }
}